//Variables
$primary: hsl(150, 100%, 66%);
$txt-col: hsl(193, 38%, 86%);

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

*, *::before, *::after{
  box-sizing: border-box;
}
